MUDANÇAS_BD - PROJETO.sql


.idea/


*.iml
*.iws
*.ipr


/out/


.gradle
/build/
!build/resources/


/run/


*.class


*.log


*.jar
!/lib/mysql-connector-j-9.4.0.jar
*.war
*.ear
*.zip
*.tar.gz


/target/
/build/
/dist/


.env
db.properties
application.properties


.DS_Store
Thumbs.db